body {
	margin: 0;
	padding: 0;
}

.single-logo {
	height: 100px;
	width: 100px;
}

.p {
	margin-top: 0%;
	margin-left: 15%;
}

.header {
	padding: 50px 0 50px 15%;
	background-color: whitesmoke;
}

.menu-column {
	padding: 10px 0 10px 15%;
	display: grid;
	grid-auto-flow: column;
	max-width: 300px;
	font: bold;
}

.main-text-column-first {
	display: grid;
	grid-auto-flow: column;
	gap: 50px;
	padding: 10px 15% 10px 15%;
}

.main-text-column-second {
	display: grid;
	grid-auto-flow: column;
	margin-top: 20px;
	gap: 50px;
	padding: 10px 15% 10px 15%;
}

.logotype-row-1 {
	display: grid;
	grid-auto-flow: column;
	width: auto;
}

.logotype-row-2 {
	display: grid;
	grid-auto-flow: column;
	width: auto;
}

.logotype-row-3 {
	display: grid;
	grid-auto-flow: column;
	width: auto;
}

.footer {
	display: grid;
	grid-auto-flow: column;
	margin-top: 30px;
	gap: 50px;
	background-color: rgb(103, 54, 205);
	color: white;
	padding: 10px 15% 10px 15%;
}

.picture {
	margin-top: 30px;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	color: rgb(1, 1, 1);
	font-size: 20px;
}