body {
	width: 100%;
	background-color: rgb(192, 206, 190);
	margin: 0 auto;
	padding: 0 15px;
}

nav {
	width: 100%;
	margin-top: 50px;
}

.logo-nav {
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
}

.left-nav {
	font-size: 1.5rem;
	font-weight: bold;
	width: 15%;
	height: 50px;
	background-color: rgb(98, 252, 188);
}

.right-nav {
	font-size: 1.5rem;
	font-weight: bold;
	width: 45%;
	height: 50px;
	background-color: rgb(98, 252, 188);
}

.h1 {
	color: bold;
}

.h2 {
	color: bold;
}

.p {
	color: bold;
}

.wrapper h1 {
	text-align: center;
}

.progress-bar {
	width: 85%;
	height: 30px;
	background-color: seagreen;

}

.progress-fill {
	width: 15%;
	background-color: teal;
	height: 30px;
	border-bottom: 20px;
} 


.ship-address {
	font-size: 25px;
}

.ship-address input {
	width: 50px;
	height: 40px;
}

.submit {
	width: 150px;
	height: 50px;
	margin-top: 20px;
	margin-left: 50%;
	background-color: rgb(74, 87, 82);
	color: saddlebrown;
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
}